<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1 class="page-title">Posts</h1>
            <ul class="list-of-posts">
                <% postList.results.forEach(function(post) {%>
                    <li class="single-post">
                        <img class="post-image" src=<%=post.imageUrl %>/><br>
                        <div class="post-text-box">
                            <%= post.message %> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %>
                                    <%= post.id %>
                                        <%= post.postedBy.name %>
                                            <!--  <% post.likedBy.forEach(function(userModel) {%>
                                            <%= userModel.name %>
                                                <% }) %>
                                                    <% post.dislikedBy.forEach(function(userModel) {%>
                                                        <%= userModel.name %>
                                                            <% }) %>
                                                    -->
                                            <form method="post" action="/posts/<%=post.id %>/like" class="like-button">
                                                <button type="submit">Like Post</button>
                                            </form>
                        </div>

                    </li>


                    <% }); %>
            </ul>

            <%if (postList.next) { %>
                <a href="<%= postList.next %>">Next</a>
                <% } %>
                    <%if (postList.previous) { %>
                        <a href="<%= postList.previous %>">Previous</a>
                        <% } %>
        </body>
        <%- include('_footer') -%>

</html>